body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f5f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #8d6e63;
}

form label {
  display: block;
  margin: 1em 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #a1887f;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #8d6e63;
}

/* Botón de hamburguesa */
.menu-toggle {
  display: none; /* Oculto por defecto */
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.menu-toggle .hamburger {
  width: 30%;
  height: 3px;
  background-color: #B8860B; /* Color dorado oscuro */
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Menú de navegación */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacio entre enlaces */
}

nav ul li a {
  color: #B8860B; /* Dorado oscuro para los enlaces */
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  color: #D4AF37; /* Dorado principal al hacer hover */
}

/* Header */
header {
  background-color: #faf8f000; /* Fondo claro */
  color: #333;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header .logo img {
  height: 50px; /* Ajusta el tamaño del logo para móviles */
}

/* Estilos para el botón flotante de WhatsApp */
.whatsapp-button {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.whatsapp-button:hover {
  background-color: #1EBE5D;
}
/* Estilos para el botón flotante de WhatsApp */

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-float img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
/* Footer */
footer {
  background-color: #333;
  color: #D4AF37;
  text-align: center;
  padding: 1rem 0;
}