/* Reset y fuente base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Playfair Display', serif;
    background: url('../img/fondo.jpg') center center no-repeat;
    color: #3a3a3a;
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../img/fondo.jpg') center center no-repeat;
    background-attachment: scroll; /* scroll en vez de fixed */
    z-index: -1;
    pointer-events: none;
  }
  
  /* Bloques de texto centrado */
  .texto-bloque {
    text-align: center;
    margin: 10px auto;
    max-width: 600px;
    border-radius: 12px;
  }
  
  /* Título principal */
  .texto-bloque h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #b48a00;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  .texto-bloque h1 span {
    color: #a76c1a;
  }
  
  /* Subtítulos */
  .texto-bloque h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #b48a00;
    margin-bottom: 8px;
  }
  
  /* Párrafos */
  .texto-bloque p {
    font-size: 2rem;
    margin: 8px 0;
    color: #a76c1a;
  }
  
  /* Texto final */
  .texto-final {
    color: #a14d72;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  /* Imágenes centradas */
  .imagen-full {
    margin-top: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .imagen-full img {
    width: 75%;
    max-width: 600px;
    height: auto;
    border-radius: 16px;
  }
  
  /* Imagen con texto encima */
  .bloque-con-imagen {
    position: relative;
    width: 75%;
    max-width: 600px;
    margin: 0 auto ;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .bloque-con-imagen img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  .texto-sobre-imagen {
    position: absolute;
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(255,255,255,0.2); /* Opcional: ayuda en legibilidad */
  }
  
  .texto-sobre-imagen h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #7b4f2c;
    margin-bottom: 10px;
  }
  
  .texto-sobre-imagen h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #b48a00;
    letter-spacing: 1px;
  }
  
  .texto-sobre-imagen h1 span {
    color: #a76c1a;
  }
  
  /* Responsivo para móviles */
  @media (max-width: 480px) {
    .texto-bloque h1,
    .texto-bloque h2 {
      font-size: 2rem;
    }
  
    .texto-bloque p {
      font-size: 1.2rem;
    }
  
    .texto-final {
      font-size: 1rem;
    }
  
    .texto-sobre-imagen h2 {
      font-size: 2rem;
    }
  
    .texto-sobre-imagen h1 {
      font-size: 1.4rem;
    }
  }
  